/PiModel/data/*
/PiModel/scr_train/00_DataPreparation_Disease79_ProteinKnown.ipynb
/PiModel/scr_train/00_DataPreparation_Integrate_Disease79_ProteinKnown.ipynb
/PiModel/scr_train/.ipynb_checkpoints
/PiModel/scr_train/old/*
/PiModel/scr_train/except/*
/VAE/data/*
/VAE/scr_VQ_VAE_target/.ipynb_checkpoints
/VAE/scr_VQ_VAE_disease/.ipynb_checkpoints
/VAE/scr_VAE_target/.ipynb_checkpoints
/VAE/scr_VAE_disease/.ipynb_checkpoints
/performance_evaluation/src/.ipynb_checkpoints
/performance_evaluation/src/Visualization_Known_Global.ipynb
